[run]
omit =
    */tests/*
branch = True
source = biofilter

[report]
exclude_lines =
    # Add more exclusion rules here if needed
    if __name__ == "__main__"
show_missing = True
skip_covered = True
