.git
.github
.venv
.pytest_cache
.tox
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
.coverage
htmlcov
build
dist
docs
notebooks
biofilter_legacy
assistent
biofilter_agents
scripts/runs_debugs
scripts/runs_tests
*.ipynb
.DS_Store
