name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        poetry install requirements.txt

    - name: Run tests
      run: |
        export PYTHONPATH=.
        pytest -v
